.container{
    /* view port heigth -  quase a mesma cois que 100% */
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

.verticalMenu {
    position: absolute;
    background: var(--white);
    width: 112px;
    height: 100%;

    display: flex;
    flex-direction: column;

    /* align-items: center; */
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

/* .verticalMenu div { 
    width: 100%;
    height: 56px;
    border-left: 4px solid #5965E0;
    border-top-left-radius: 5px;

    display: flex;

} */

.verticalMenu div { 
    /* width: 100%; */
    height: 56px;
    /* border-left: 4px solid #5965E0; */
    /* border-top-left-radius: 5px; */

    display: flex;

}

.verticalMenu > div > span {    
    border-right: 4px solid #5965E0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.verticalMenu > div > a > img {
    margin-left: 100%;    
}


