.container {
    height: 100vh;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    background: var(--blue);

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 6.25rem; */
    align-content: center;
}

.backgroundImage{
    width: 768px; 
    height: 660px;
    /* height: 40.6rem; */

    margin-top: 80px;
    margin-left: -68px;
}

@media(max-width: 1250px){
    .backgroundImage{
        width: 648px;
        /* height: 500px; */
        height: 510px;
    
        margin-top: 80px;
        margin-left: -68px;
        }

}

@media(max-width: 1080px){    
    .backgroundImage{
    width: 448px;
    /* height: 500px; */
    height: 410px;

    margin-top: 80px;
    margin-left: -68px;
    }

    .cardLogin > img:first-child {
        margin-bottom: 8rem;
        /* width: 20rem; */
        width: 320px;
    }

    .inputArea{
        display: grid;
        grid-template-columns: 1fr 10px;
        /* gap: 6.25rem; */
        align-content: center;
    
        height: 80px;
        width: 100%;
    
        margin-top: 5rem;
    
        border: 0;
        border-radius: 5px;
    }
    
}

@media(max-width: 720px){    
    .backgroundImage{
        display: none;
    }

    .cardLogin > img:first-child {
        margin-bottom: 8rem;
        width: 20rem;
    }

    .inputArea{
        display: grid;
        grid-template-columns: 1fr 10px;
        /* gap: 6.25rem; */
        align-content: center;
    
        height: 80px;
        width: 100%;
    
        margin-top: 5rem;
    
        border: 0;
        border-radius: 5px;
    }
    
}



.card {
    /* position: absolute; */
    /* width: 360px; */
    height: 76px;    
    margin-top: 12.4rem;
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    text-align: center;
}

.cardLogin{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardLogin > img:first-child {
    /* margin-bottom: 8rem; */
    margin-bottom: 128px;
}

/* bem vindo */
.cardLogin > img + p {
    font-size: 2rem;
    color: var(--white);
    position: absolute;
    margin-top: 9rem;
}

.gitMessage{
    display: flex;
    align-items: center;     
    margin-top: 2rem;  
}

/* icone git com texto */
.cardLogin > div > img {
    font-size: 1.1rem;    
    color: #B3B9FF;    
    position: absolute;
    /* margin-top: 1rem; */
}

.cardLogin > div > p {
    font-size: 1.1rem;    
    color: #B3B9FF;    
    position: absolute;
    padding-left: 55px;
    /* margin-top: 1rem; */
}

.inputArea{
    display: grid;
    grid-template-columns: 1fr 5rem;
    /* gap: 6.25rem; */
    align-content: center;

    height: 80px;
    width: 100%;

    margin-top: 5rem;

    border: 0;
    border-radius: 5px;
}

.inputArea > form > input {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 1.8rem;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background: rgb(73,83,184);
    background: linear-gradient(90deg, rgba(73,83,184,1) 0%, rgba(73,83,184,1) 30%, rgba(89,101,224,1) 100%);  
    color: #B3B9FF;  
}

.inputArea > form > input::placeholder{
    color: #B3B9FF;
    /* padding-left: 1.8rem; */
}

.inputArea > form > input:focus {
    outline: none;
    border:1px solid#414AA3 ;
    box-shadow: 0 0 10px #414AA3;
    /* border: 1px 0 red; */
}

.inputArea > a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background: #4953B8; */
    height: auto;
    height: inherit;

    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttonPurple {
    background: #4953B8;
}

.buttonGreen {
    background: #4CD62B;
}

.buttonPurple:hover {
    background: #414AA3;
} 

.buttonGreen:hover {
    background: #2e9815;
} 
